.footer {
  background-color: #b98a30;
  color: white;
  padding-top: 20px;
 

}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .paragraph {
  font-size: 12px;
  text-align: justify;
  line-height: 25px;
}

.footer .social-icons i {
  font-size: 20px;
  background: #fff;
  color: #b98a30;
  padding: 8px;
  border-radius: 5px;
  margin-right: 5px;
}

.subscribe-input {
  border: 1px solid black;
  padding: 8px 15px;
  width: 290px;
  border-top-left-radius: 10px;
}

.subscribe-btn {
  background-color: white;
  color: #b98a30;
  font-weight: bold;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 8px 15px;
  font-size: 16px;
}

.footer-bottom {
  border-top: 1px solid #fff;
 
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* Mobile responsive styles */
@media (max-width: 576px) {
  .footer form.d-flex {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-input,
  .subscribe-btn {
    width: 100% !important;
    margin: 5px 0;
    border-radius: 8px !important;
  }

  .footer .col-sm-6,
  .footer .col-sm-12 {
    text-align: center;
  }

  .footer .list-unstyled {
    text-align: center;
  }

  .footer .social-icons {
    justify-content: center;
  }

  .footer .address p {
    text-align: justify;
  }
}

@media (min-width: 768px) {
  .footer .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}
